%h1
  %span#page_title Search
=render 'form'
-if @query.blank?
  %p Enter a search term.
-elsif @results.empty?
  %p
    ="No results found for \"<span class='match'>#{@query}</span>\".".html_safe
-else
  %ul.unstyled
    -@results.each do |result|
      %li
        =link_to(result) do
          %h2=highlight(result.to_s,@query,:highlighter => '<span class="match">\1</span>')
          =result.excerpts.text.html_safe.presence
        %hr
  =will_paginate(@results)